.boton-principal{
    background-color: #FFE6E690;
    border: none;
    border-radius: 20px;
    color: #fdfdfd;
    font-size: 100px;
    text-align: center;
    margin: 0 auto;
    height: 50vh;
    width: 90vh;
}

.boton-principal:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 2s;
}


@media screen and (min-width: 0){
    .boton-principal{
        font-size: 60px;
        height: 300px;
        width: 80%;
        
     }

 }
 
 @media screen and (min-width: 1300px){
    .boton-principal{
        font-size: 60px;
        height: 50vh;
        width: 90vh;
     }
 
  }
